@import "mixins";
@import "links"; 

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.parent-container{
    width: 100%;
    height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
}

header{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .top,header .centre,header .bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

header .top .left,header .top .centre,header .top .right{
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.links1{
    @include links; 
    text-decoration: none;
  }
  
  .links1:hover{
      @include hoverlinks;
  }
  
  .links2{
      @include links($link: red);
      text-decoration: none;
  }
  
  .links2:hover{
      @include hoverlinks($linkhover: orange);
  }

 .buttonlink1{
    @include buttonlinks($link: grey);
 }

 .buttonlink1:hover{
    @include buttonlinkshover($link: orange);
 }

 .buttonlink{
    background-color: pink;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .button1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    height: 2rem;
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 1.4rem;
            width: 1.4rem;
        }
        span{
            padding-left: 0.4rem;
            color: white;
            font-size: 1.4rem;
        }
    }
    }

.button1:hover{
    background-color: orange;
}

.features{
    position: absolute;
}


//end of header styles
//starting of section styles
.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.four{
    grid-area: four;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}


section{
    padding: 2rem;
    height: 40%;
    display: grid;
    grid-template-areas: 
    "one two three"
    "four five six";
    gap: 1.2rem;
}



footer{
    height: 30%;
    display: grid;
    gap: 2rem;
    grid-template-areas: "sone stwo sthree sfour";
}