<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>CanIUse website</title>
</head>
<body>
    <div class="parent-container">
        <header>
            <div class="top">
                <div class="left">
                    <a class="buttonlink1" href="#">Home</a>
                    <a class="buttonlink1" href="#">News</a>
                </div>
                <div class="centre">
                    <span class="date"></span>
                    <a class="links1" href="#">8 new features</a>
                </div>
                <div class="right">
                    <a class="buttonlink1" href="#">Compare browsers</a>
                    <a class="buttonlink1" href="#">About</a>
                </div>
            </div>
            <div class="centre">
                <div class="centre">
                    <span class="legend"><a href="#">Can I Use</a></span>
                    <input type="text">
                    <span class="legend">?</span>
                    <span class="settings"><a href="#"><img src="../../assets/settings_32dp_E8EAED_FILL0_wght400_GRAD0_opsz40.png" alt="settings"></a></span>
                    <span><a href="#">Settings</a></span>
                </div>
            </div>
            <div class="bottom">
                <div class="left"><a class="buttonlink1" href="#">Index of features</a></div>
                <div class="right">
                    <button class="button1"><div>
                        <img src="../../assets/filter_alt_32dp_E8EAED_FILL0_wght400_GRAD0_opsz40.png" alt="filter-icon">
                        <span>Filter features</span> 
                    </div></button>
                    <div class="features">
                        <div class="Categories">
                            <label for="1">All</label>
                            <input type="checkbox" name="category" id="1">
                            <br>
                            <label for="2">CSS</label>
                            <input type="checkbox" name="category" id="2">
                            <br>
                            <label for="3">HTML5</label>
                            <input type="checkbox" name="category" id="3">
                            <br>
                            <label for="4">JS</label>
                            <input type="checkbox" name="category" id="4">
                            <br>
                            <label for="5">JS API</label>
                            <input type="checkbox" name="category" id="5">
                            <br>
                            <label for="6">Other</label>
                            <input type="checkbox" name="category" id="6">
                            <br>
                            <label for="7">Security</label>
                            <input type="checkbox" name="category" id="7">
                            <br>
                            <label for="8">SVG</label>
                            <input type="checkbox" name="category" id="8">
                        </div>
                        <div class="Status">
                            <label for="1a">All</label>
                            <input type="checkbox" name="status" id="1a">
                            <br>
                            <label for="2a">REC</label>
                            <input type="checkbox" name="status" id="2a">
                            <br>
                            <label for="3a">PR</label>
                            <input type="checkbox" name="status" id="3a">
                            <br>
                            <label for="4a">CR</label>
                            <input type="checkbox" name="status" id="4a">
                            <br>
                            <label for="">WD</label>
                            <input type="checkbox" name="status" id="5a">
                            <br>
                            <label for="6a">LS</label>
                            <input type="checkbox" name="status" id="6a">
                            <br>
                            <label for="7a">other</label>
                            <input type="checkbox" name="status" id="7a">
                            <br>
                            <label for="8a">unoff</label>
                            <input type="checkbox" name="status" id="8a">
                        </div>
                    </div>
                </div>
            </div>
                    <div>
                        <span>List sort</span>
                        <br>
                        <select name="pubdate" id="pub">
                            <option value="sort0">Publication date</option>
                            <option value="sort1">Most supported first</option>
                            <option value="sort2">Least support first</option>
                            <option value="sort3">Alphabetical</option>
                            <option value="sort4">Reverse alphabetical</option>
                        </select>
                        <br>
                        <span>Go</span>
                    </div>
                </div>
                    </div>
            </div>
        </header>
        <section>
            <div class="card one">
                <h2>Latest features</h2>
                <ul>
                    <li><a class="links1" href="#">WebAssembly BigInt to i64 conversion in JS API</a></li>
                    <li><a class="links1" href="#">WebAssembly Threads and Atomics</a></li>
                    <li><a class="links1" href="#">WebAssembly Multi-Value</a></li>
                    <li><a class="links1" href="#">WebAssembly Import/Export of Mutable Globals</a></li>
                    <li><a class="links1" href="#">WebAssembly Non-trapping float-to-int Conversion</a></li>
                </ul>
            </div>
            <div class="card two">
                <h2>Most searched features</h2>
                <ol>
                    <li><a class="links1" href="#">WebP image format</a></li>
                    <li><a class="links1" href="#">Flexbox</a></li>
                    <li><a class="links1" href="#">gap property for Flexbox</a></li>
                    <li><a class="links1" href="#">CSS Grid</a></li>
                    <li><a class="links1" href="#">WebGL</a></li>
                </ol>
            </div>
            <div class="card three">
                <h2>Test a feature</h2>
                <p>Our partnership with <span><a class="links1" href="#">BrowserStack</a></span> now lets you test your website for compatibility across 2,000+ real browsers and devices.</p>
                <span>Test on:</span>
                <br>
                <div></div>
                <ul>
                    <li><a class="links1" href="#"></a>IE 11</li>
                    <li><a class="links1" href="#"></a>Safari 17</li>
                </ul>
                <ul>
                    <li><a class="links1" href="#"></a>Safari on iPhone 14</li>
                    <li><a class="links1" href="#"></a>Chrome on Galaxy S23</li>
                </ul>
            </div>
            <div class="card four">
                <h2>Did you know?</h2>
                <p>By default, older browser versions are only shown if they have >= 0.5% usage share. You can increase or decrease this value from the Settings panel.</p>
                <a href="#">Next</a>
            </div>
            <div class="card five">
                <h2>Third party tools</h2>
                <div class="content">
                    <ul>
                        <li><a class="links1" href="#">The CanIUse Embed — Add support tables to your site</a></li>
                        <li><a class="links1" href="#">Caniuse Component — Add support tables to your presentations</a></li>
                        <li><a class="links1" href="#">Caniuse command line tool</a></li>
                        <li><a class="links1" href="#">Doiuse...? — Lint your CSS to check what features work</a></li>
                        <li><a class="links1" href="#">I want to use — Select multiple features and see what % of users can use them</a></li>
                    </ul>
                </div>
                <span><a class="links1" href="#">See full list</a></span>
            </div>
            <div class="card six">
                <h2>Browser scores</h2>
                <div class="version">
                    <a class="versions" href="#">Current verison</a>
                    <a href="#" class="versions">Dev version</a>
                </div>
                <div class="browsers">
                    <div class="browser">Safari 17.5: 404</div>
                    <div class="browser">Firefox 129: 415</div>
                    <div class="browser">Chrome 127: 432</div>
                </div>
                <span><a class="links1" href="#">About these scores</a></span>
            </div>
        </section>
        <footer>
            <div class="slots s-one">
                <h2>Can I use...</h2>   
                <br>
                <br>
                <span>Browser support tables for modern web technologies</span>
                <br>
                <span>Created & maintained by </span><a class="links1" href="#">@Fyrd</a><span>, design by </span><a class="links1" href="#">@Lensco</a><span>.</span>
                <br>
                <span>Support data contributions by the GitHub </span><a class="links1" href="#">community</a><span>.</span>
                <br>
                <span>Usage share statistics by </span><a class="links1" href="#">StatCounter GlobalStats</a><span> for July, 2024</span>
                <br>
                <span>Location detection provided by </span><a class="links1" href="#">ipinfo.io</a><span>.</span>
                <br>
                <span>Browser testing done via </span><a class="links1" href=""><img src="../../assets/icons8-browserstack-logo-48.png" alt="BrowserStack-icon"></a><span class="BrowserStack"> BrowserStack</span>
            </div>
            <div class="slots s-two">
                <h2>Support via Patreon</h2> 
                <br>
                <br>
                <span class = txtwrap>Become a caniuse Patron to support the site and disable ads for only $1/month!</span>
                <br>
                <a href="#" class="buttonlink">
                    <div>
                        <img src="../../assets/icons8-patreon-logo-48.png" alt="Patreon logo">
                        <span>BECOME A PATRON</span>
                        <br>
                        <br>
                        <span>  or </span><a class="links1" href="#">Log in</a>
                    </div></a>
            </div>
            <div class="slots s-three">
                <span>Site links</span>
                 <br>
                 <br>
                 <ul>
                    <li><a class="links1" href="#">Home</a></li>
                    <li><a class="links1" href="#">Feature index</a></li>
                    <li><a class="links1" href="#">Browser usage table</a></li>
                    <li><a class="links1" href="#">Feature suggestion list</a></li>
                    <li><a class="links1" href="#">Caniuse data on GitHub</a></li>
                 </ul>
            </div>
            <div class="slots s-four">
                <h2>Legend</h2>
                <br>
                <br>
                <ul>
                    <li><span>= Supported</span></li>
                    <li><span>= Not supported</span></li>
                    <li><span>= Partial support</span></li>
                    <li><span>= Support unknown</span></li>
                </ul>
                <br>
                <span><a class="links1" href="#">Enable color-blind friendly colors</a></span>
            </div>
        </footer>
    </div>
</body>
</html>
