<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>CanIUse website</title>
</head>
<body>
    <div class="parent-container">
        <header>
            <div class="top">
                <div class="left">
                    <a href="#">Home</a>
                    <a href="#">News</a>
                </div>
                <div class="right">
                    <a href="#">Compare browsers</a>
                    <a href="#">About</a>
                </div>
                <div class="centre">
                    <span class="date"></span>
                    <a href="#">8 new features</a>
                </div>
            </div>
            <div class="centre">
                <div class="centre">
                    <span class="legend"><a href="#">Can I Use</a></span>
                    <input type="text">
                    <span class="legend">?</span>
                    <span class="settings"><a href="#"><img src="" alt="settings"></a></span>
                    <span><a href="#">Settings</a></span>
                </div>
            </div>
            <div class="bottom">
                <div class="left"><a href="#">Index of features</a></div>
                <div class="right"><a href="#">
                    <div class="features">
                        <img src="" alt="filter-icon">
                        <span>Filter features</span> 
                    </div>
                </a></div>
            </div>
        </header>
        <section>

        </section>
        <footer>

        </footer>
    </div>
</body>
</html>
