*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.747);
}

.parent-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links1 {
  color: orange;
  text-decoration: none;
}

.links1:hover {
  color: yellow;
}

.links2 {
  color: red;
  text-decoration: none;
}

.links2:hover {
  color: orange;
}

.links3 {
  color: darkgreen;
  background-color: orange;
  padding: 0.2rem;
  text-decoration: none;
}

.links4 {
  color: grey;
  background-color: lightgrey;
  padding: 0.2rem;
  text-decoration: none;
}

.buttonlink1 {
  width: 100%;
  background-color: grey;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  height: 1.4rem;
  padding: 1rem 0.4rem;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonlink1:hover {
  background-color: orange;
}

a.buttonlink {
  background-color: pink;
  color: brown;
  text-transform: uppercase;
  text-decoration: none;
  width: 9rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
a.buttonlink img {
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
}

.buttonlink2 {
  width: 100%;
  background-color: darkgreen;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  height: 1.4rem;
  padding: 1rem 0.4rem;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 1rem;
  padding: 0.2rem;
}

.buttonlink2:hover {
  background-color: orange;
}

.button1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
  height: 1.4rem;
  padding: 1rem 0.4rem;
  border: none;
  cursor: pointer;
}
.button1 div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button1 div img {
  height: 1.4rem;
  width: 1.4rem;
}
.button1 div span {
  padding-left: 0.4rem;
  color: white;
  font-size: 1rem;
}

.button1:hover {
  background-color: orange;
}

header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .top {
  width: 100%;
}

header .top, header .centre, header .bottom {
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .top .left {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .top .centre {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

header .top .right {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .centre {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 123, 0);
  padding: 0 3rem;
}

header > .centre .centrepiece {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header > .centre .centrepiece input {
  height: 2.8rem;
  width: 20rem;
  text-align: center;
  font-size: 2rem;
  background-color: rgb(205, 151, 50);
  color: white;
  padding-right: 2rem;
}

header > .centre .centrepiece span.legend {
  font-size: 2.8rem;
  color: lightgoldenrodyellow;
  padding-right: 1rem;
}
header > .centre .centrepiece span.legend a {
  font-size: 2.8rem;
  color: lightgoldenrodyellow;
  text-decoration: none;
  padding-right: 2rem;
}

header > .centre .centrepiece span.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}
header > .centre .centrepiece span.settings a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: lightgoldenrodyellow;
  padding-right: 1rem;
  font-size: 1.4rem;
}
header > .centre .centrepiece span.settings a img {
  height: 2rem;
  width: 2rem;
}

header .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .bottom .left {
  width: 68%;
  padding-left: 0.2rem;
}

header .bottom .right {
  width: 31%;
  padding-right: 0.2rem;
}

.popTab {
  display: none;
  position: absolute;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

section {
  padding: 1rem;
  height: 50%;
  display: grid;
  grid-template-areas: "one two three" "four five six";
  gap: 1.2rem;
}

section .card h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline;
}

.browsers > * {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.browsers1 {
  background-color: lightblue;
}

.browsers2 {
  background-color: lightgreen;
}

.browsers3 {
  background-color: lightgrey;
}

footer {
  height: 30%;
  width: 100%;
  padding: 0 1rem;
  display: grid;
  gap: 2rem;
  grid-template-areas: "s-one s-two s-three s-four";
}

/*# sourceMappingURL=styles.css.map */
